[Unit]
Description = Python script to display information
After = network.target

[Service]
Type = simple
ExecStart = /usr/bin/python3 /home/robot/Madox/madox_ws/src/py_drive/py_drive/libs/stats.py
User = robot 
Restart = on-failure
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target
