[Unit]
Description = Python script to start robot web interface
After = network.target

[Service]
Type = simple
ExecStart = /usr/bin/node /home/robot/Madox/web/index.js
User = robot
Restart = on-failure
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target
