[Unit]
Description = Python script to start robot camera web streaming on port 8080
After = network.target

[Service]
Type = simple
ExecStart = /usr/bin/python3  /home/robot/Madox/web/mjpeg_http/server.py --bind 192.168.1.164
User = robot 
Restart = on-failure
RestartSec = 5
TimeoutStartSec = infinity

[Install]
WantedBy = multi-user.target
